body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

form {
    display: inline-grid;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#content {
    width: 70%;
}

.container_form {
    padding: 20px;
    display: flex;
    grid-template-columns: 1fr 5fr; 
    grid-gap: 20px; 
  }

.update_form{
    border: 1px solid black;
    padding: 20px;
    }