<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="path/to/bootstrap.min.css">


    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <script src="path/to/jquery.min.js"></script>
    <script src="path/to/bootstrap.min.js"></script>

</body>

</html>